body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-text-font);

  background-image: url(../images/hero/donuts-sm.png), url(../images/reviews/flour-sm.png), url(../images/hero/bg-img-sm.png),
    url(../images/reviews/bg-sm.png);
  background-repeat: no-repeat;
  background-size: 130px,87px 64px, contain, contain;
  background-position: left top ,bottom right, top left, top 2090px left;
  @include mq(retina) {
    background-image: url(../images/hero/donuts@2-sm.png), url(../images/reviews/flour@2-sm.png), url(../images/hero/bg-img@2-sm.png),
      url(../images/reviews/bg@2-sm.png);
  }

  @include mq(tablet) {
    background-image: url(../images/hero/donuts-md.png) , url(../images/reviews/flour-md.png), url(../images/hero/bg-img-md.png),
      url(../images/reviews/bg-md.png);
    background-size: 360px ,147px 144px, contain, contain;
    background-position: top right 140px ,bottom right, top left, top 1230px left;
    @include mq(retina) {
      background-image: url(../images/hero/donuts@2-md.png), url(../images/reviews/flour@2-md.png), url(../images/hero/bg-img@2-md.png),
        url(../images/reviews/bg@2-md.png);
    }
  }
  @include mq(desktop) {
    background-image: url(../images/hero/spoon-lg.png), url(../images/hero/donuts-lg.png), url(../images/reviews/flour-lg.png), url(../images/reviews/confetti-lg.png),
      url(../images/hero/bg-img-lg.png), url(../images/reviews/bg-lg.png);
    background-size: 145px 450px, 650px ,319px 184px, 589px 606px, contain, contain;
    background-repeat: no-repeat;
    background-position: top 165px left, top right ,bottom right, top 2364px right, top left, top 1575px left;
    @include mq(retina) {
      background-image: url(../images/hero/spoon@2-lg.png), url(../images/hero/donuts@2-lg.png), url(../images/reviews/flour@2-lg.png),
        url(../images/reviews/confetti@2-lg.png), url(../images/hero/bg-img@2-lg.png),
        url(../images/reviews/bg@2-lg.png);
    }
  }

  @include mq(desktop) {
    background-color: var(--another-bg-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}


section{
  padding: 15px 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

/* Добавил на всякий случай, вдруг понадобится  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;

  @include mq(tablet) {
    max-width: 768px;
    padding: 0 67px;
  }
  @include mq(desktop) {
    max-width: 1280px;
    padding: 0 229px;
  }
}

/* Размеры шрифта для всех секционных заголовков, у героя и карточек другие само собой */
.title {
  color: var(--main-text-color);
  font-family: var(--secondary-text-font);
  font-weight: 400;
  font-size: 24px;
  line-height: 2.7;

  @include mq(desktop) {
    font-size: 36px;
    line-height: 1.8;
  }
}

.button {
  background-color: var(--accent-text-color);
  color: var(--button-text-color);

  font-family: var(--secondary-text-font);

  font-size: 18px;
  line-height: 1.5;
  min-width: 140px;
  min-height: 40px;
  border: transparent;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms var(--animation);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }

  @include mq(desktop) {
    font-size: 24px;
    line-height: 1.5;  
  }
}
