:root {
  --main-text-color: #2e2520;
  --accent-text-color: #ab816c;
  --placeholder-text: rgba(171, 129, 108, 0.5);
  --decor-color: rgba(158, 96, 65, 0.5);
  --hover-color: #876655;
  --button-text-color: #ffffff;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #fef3e4;
  --another-bg-color: #fffff9;
  --modal-bg-color: rgba(254, 243, 228, 0.9);
  --white-color: #ffffff;
  --black-color: #000000;
  --form-helper-color: rgb(212, 55, 55);


  --animation: cubic-bezier(0.4, 0, 0.2, 1);

  --main-text-font: 'Montserrat', sans-serif;
  --secondary-text-font: 'Caveat Brush', monospace;
}
