<section class="about-us" id="about-us">
  <div class="about-us-container container">
    <picture class="about-us-image">
      <source
        srcset="./images/about-us/cup-n-box-lg.png 1x, ./images/about-us/cup-n-box@2-lg.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/about-us/cup-n-box-md.png 1x, ./images/about-us/cup-n-box@2-md.png 2x"
        media="(min-width: 768px)"
      />
      <img
        class="image"
        srcset="./images/about-us/cup-n-box-sm.png 1x, ./images/about-us/cup-n-box@2-sm.png 2x"
        src="./images/about-us/cup-n-box-sm.png"
        alt="пончики и кофе"
        loading="lazy"
      />
    </picture>
    <div class="about-us-bloks">
      <h2 class="about-us-title title">About us</h2>
      <p class="about-us-text">
        Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated
        donuts which will save the world!
      </p>
      <p class="about-us-text">
        Eva has been baking since she was six years old and over the last 49 years, she has created
        hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have
        received multiple awards & recognition for excellence.
      </p>
      <p class="about-us-text about-us-text--hidden" data-more-text-about>
        We are going to teach you how to cook with passion and sparkles in your eyes! We love what
        we do and believe you will enjoy our cooking atmosphere!
      </p>
      <button class="about-us-btn" type="button" data-slide>
        <span class="btn-text is-shown" data-read-more-about>Read more</span>
        <span class="btn-text" data-read-more-about>Less</span>
      </button>
    </div>
  </div>
</section>
