<section class="contacts" id="contact">

  <div class="contacts-wrapper container">

    <h2 class="contacts__title title">Contact </h2>

    <form class="form-contacts">
      <b class="form-contacts__label form-contacts__label-contacts">We will answer any question!
      </b>

      <div class="form-contacts__input-wrapper">
        <input class="form-contacts__input form-contacts__input-email" type="email" name="email" id="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email" autocomplete="off">
        <span class="form-contacts__input-helper"> * mymail@gmail.com</span>
      </div>

      <input class="form-contacts__input form-contacts__input-text" required  type="text" name="text"
        placeholder="Type your question" />


    </form>
    <button class="form-contacts__button button" type="submit">Send</button>
  </div>

</section>