<section class="registration" id="registration">
    <div class="container">
        <h2 class="registration__title title" >Registration</h2>
        <div class=" registration-wrapper ">
            <div class="registration-header">
                <h2 class="registration-header__title title">Registration</h2>
                <p class="registration-header__subtitle">
                    <time class="registration-header__datatime" datetime='2021-05-23T11:00'>May 23, 11:00</time>
                    New York
                </p>
                <p class="registration-header__text">
                    &#65284; 699
                </p>
            </div>
            <div class="registration-footer">
                <form class="form">
                    <div class="form__header">
                        <label class="form__label form__label-registration" for="username">Apply your personal info
                            for registration </label>
                            <div class="form__input-wrapper">
                                <input class="form__input form__input-username"  type="text" name="username" id="username" pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required placeholder="Your name">
                                <span class="form__input-helper"> * Joes Dias </span>
                            </div>
                            <div class="form__input-wrapper">
                                <input class="form__input form__input-telephone" type="tel" name="telephone-number" pattern="[+][380][0-9]{11}" required placeholder="Phone number">
                                <span class="form__input-helper"> * +380960220222</span>
                            </div>
                            <div class="form__input-wrapper form__input-wrapper-lastchild">
                                <input class="form__input form__input-email form__input" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email">
                                <span class="form__input-helper">* mymail@gmail.com</span>
                            </div>
                    </div>
                    <div class="form__footer">
                        <button class="form__button button" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>