<!-- Reviews section -->
<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews__container">
      <h2 class="reviews-title title">Reviews</h2>
      <div class="slider">
        <div class="slider__items">
          <picture class="slider__pictures">
            <source
              srcset="./images/reviews/will-lg.png 1x, ./images/reviews/will@2-lg.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/will-md.png 1x, ./images/reviews/will@2-md.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/will-sm.png 1x, ./images/reviews/will@2-sm.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="container-reviews__img container-reviews__img--will"
              src="./images/reviews/will-sm.png"
              alt="Will"
            />
          </picture>
          <div class="rating-result rating-result__reviews">
            <ul class="list rating-result__list">
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <h3 class="reviews__name">Will</h3>
        </div>
        <div class="slider__items">
          <picture class="slider__pictures">
            <source
              srcset="./images/reviews/elisabeth-lg.png 1x, ./images/reviews/elisabeth@2x-lg.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/elisabeth-md.png 1x, ./images/reviews/elisabeth@2x-md.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/elizabeth-sm.png 1x, ./images/reviews/elizabeth@2-sm.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="container-reviews__img container-reviews__img--will"
              src="./images/reviews/elizabeth-sm.png"
              alt="Will"
            />
          </picture>
          <div class="rating-result rating-result__reviews">
            <ul class="list rating-result__list">
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <h3 class="reviews__name">Elisabeth</h3>
        </div>
        <div class="slider__items">
          <picture class="slider__pictures">
            <source
              srcset="./images/reviews/john-lg.png 1x, ./images/reviews/john@2x-lg.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/reviews/john-md.png 1x, ./images/reviews/john@2x-md.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./images/reviews/john-sm.png 1x, ./images/reviews/john@2x-sm.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="container-reviews__img container-reviews__img--will"
              src="./images/reviews/john-sm.png"
              alt="Will"
            />
          </picture>
          <div class="rating-result rating-result__reviews">
            <ul class="list rating-result__list">
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--checked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="rating-result__item">
                <svg
                  class="rating-result__icon rating-result__icon--unchecked"
                  width="24"
                  height="24"
                >
                  <use href="./images/sprite/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <h3 class="reviews__name">John</h3>
        </div>
      </div>
      <div class="slider__text">
        <div class="reviews__text">
          <div>
            <p>
              Last time I have visited a cooking course by Eva I was impressed with the way she
              explained everything to people. You can be sure you will manage to cook a delicious
              dish even if it is your first time in the kitchen! Thank you so much for the
              masterclass! Looking forward to the next one and highly recommend it to everyone!
            </p>
          </div>
        </div>
        <div class="reviews__text">
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio earum fuga facilis qui
              natus repudiandae id dolores. Enim obcaecati voluptatibus et accusamus perspiciatis
              tempore, cum eligendi temporibus quae voluptatem quaerat at, omnis pariatur excepturi,
              nisi quo eveniet consectetur. Excepturi illum nulla placeat praesentium aliquam?
              Neque, voluptates in? Quidem, natus assumenda.
            </p>
          </div>
        </div>
        <div class="reviews__text">
          <div>
            <p>
              Coffee Lab at Donuts is a combo of knowledge, skill and coffee. The tools of the
              "coffee laboratory" are a theoretical part with visual slides, cupping (tasting) of
              several monosorts: Ethiopia, Kenya, etc. (and one mix) and a master class on coffee
              preparation methods and late-art, where everyone can try to create distinguishable
              drawings on a cappuccino froth. If you love coffee, then come to one of the coffee
              houses for a cup, if you love coffee with all your heart - visit the Coffee
              Laboratory!
            </p>
          </div>
        </div>
      </div>
      <span class="reviews__number">2/3</span>
    </div>
  </div>
</section>
