// Footer

.footer {
  // color: var(--main-text-color);

  padding-bottom: 19px;
  padding-top: 25px;
  @include mq(tablet) {
    padding-bottom: 21px;
  }
  @include mq(desktop) {
    padding-top: 40px;
  }

  &-container {
    display: block;
    @include mq(tablet) {
      padding: 0 67px;
    }
    @include mq(desktop) {
      padding: 0 230px;
    }
  }

  // <!-- footer-social -->

  &-social {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;

    @include mq(tablet-only) {
      margin-bottom: 51px;
    }
    @include mq(desktop) {
      margin-bottom: 35px;
    }

    &__item:not(:last-child) {
      margin-right: 9.5px;

      @include mq(desktop) {
        margin-right: 12px;
      }
    }
    &__link {
      -webkit-transition: color 250ms var(--animation);
      transition: color 250ms var(--animation);
    }
    &__link:hover,
    &__link:focus {
      color: var(--hover-color);
    }
    &__icon {
      fill: currentColor;
    }
    &__icon--tw {
      @include mq(desktop) {
        width: 24px;
        height: 19px;
      }
    }

    &__icon--in {
      @include mq(desktop) {
        width: 19px;
        height: 19px;
      }
    }

    &__icon--fac {
      @include mq(desktop) {
        width: 10.27px;
        height: 19px;
      }
    }
  }

  // <!-- footer-contacts -->

  &-contacts {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    &__link {
      font-family: var(--main-text-font);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
    }
    &__link {
      -webkit-transition: color 250ms var(--animation);
      transition: color 250ms var(--animation);
    }
    &__link:hover,
    &__link:focus {
      color: var(--hover-color);
    }
    &__icon {
      fill: currentColor;
    }
  }
}
