.program {
    padding-top: 25px;
}

.program-container {

    @include mq(tablet-only) {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }

    @include mq(desktop) {
        display: flex;
        justify-content: center;
    }
}

.program-title {
    text-align: center;
    @include mq(tablet) {
        text-align: start;
    }
}

.program-info {
    margin-bottom: 55px;
    @include mq(tablet) {
        width: 392px;
        margin-bottom: 0;
    }
}

.program-text {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px;

    @include mq(desktop) {
        font-size: 18px;
        line-height: 1.2;
        }
}


.program-item {
    display: flex;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before{
        content: '\003E ';
        margin-right: 4px;
    }

    @include mq(desktop) {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
    }
}

.program-hidden-text {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 10px;

    display: none;

    @include mq(desktop) {
        font-size: 18px;
        line-height: 1.2;
        display: block;
    }
    
}

.program-btn {
    font-family: var(--secondary-text-font);
    background-color: #fff;
    border: 0px;
    color: var(--accent-text-color);
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    padding: 0;
    margin-top: 25px;
    background-color: transparent;
  
    @include mq(desktop) {
      display: none;
    }
    .btn-text {
      display: none;
  
      &.is-shown {
        display: block;
      }
    }
  }

.event-box {

    @include mq(tablet) {
        max-width: 300px;
        margin-left: 38px;
    }

    @include mq(desktop) {
        min-width: 392px;
        margin-left: 40px;
    }
}

.event-box-list {
    display: flex;
    flex-wrap: wrap;

    @include mq(tablet) {
        margin-top: 35px;
    }
}

.event-box-item {
    position: relative;
    padding: 50px 13px 40px 13px;
    width: 142px;
    height: 142px;

    background-color: #FEF3E4;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

    &:nth-child(2n) {
        margin-top: 57px;
        margin-left: 5px;
    }

    @include mq(tablet) {
        margin-left: auto;

        &:nth-child(2n) {
            margin-left: 15px;
        }
    }

    @include mq(desktop) {
        margin-left: auto;
        width: 180px;
        height: 180px;
        padding-top: 63px;

        &:nth-child(2n) {
            margin-left: 32px;
            margin-top: 60px;
        }
    }
}

.event-box-img {
    position: absolute;
    top: -34px;
    left: 50%;
    bottom: 92px;
    transform: translateX(-50%);
}

.event-box-title {
    font-family: var(--secondary-text-font);
    font-size: 18px;
    line-height: 1.3;
    text-align: center;

    color: #000000;
    margin-bottom: 13px;

    @include mq(desktop) {
        font-size: 24px;
    }
}

.event-box-text {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;

    color: #000000;

    @include mq(desktop) {
        font-size: 16px;
    }
}

.event-box-icon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    width: 21px;
    height: 20px;

    @include mq(desktop) {
        margin-top: 17px;
        width: 26px;
        height: 26px;
    }
}
