.registration {
    text-align: center;

    .container{
        @include mq(tablet){
            background-image: url(../images/reviews/donut-md.png), 
            url(../images/reviews/confetti-md.png);
            background-repeat: no-repeat;
            background-size: 250px;
            background-position: top left, right -15px top 65px;
    
            @include mq(retina){
                background-image: url(../images/reviews/donut@2-md.png),
                url(../images/reviews/confetti@2-md.png);
            }
        }
    
    
        @include mq(desktop){
            background-image: url(../images/reviews/donut-lg.png);
            background-size: 250px;
            background-position: top left 65px;
    
            @include mq(retina){
                background-image: url(../images/reviews/donut@2-lg.png),
            }
        }

    }



    &__title{
        display: none;
        @include mq(tablet){
            display: block;
        }
    }
}




.registration-wrapper{
    background-color: var(--main-bg-color);
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 47px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);

    @include mq(tablet){
        display: flex;
        justify-content: center;

        border-radius: 150px;
        max-width: 634px;

        padding: 35px 0;
    }


    @include mq(desktop){
        max-width: 822px;
    }

}
.registration-header {
    padding-bottom: 20px;
    margin-bottom: 11px;
    border-bottom: 1px solid rgba(158, 96, 65, 0.5);

    @include mq(tablet){
        border: 0;
        padding: 20px 0;
        margin: 0;
        text-align: end;
        border-right: 1px solid rgba(158, 96, 65, 0.5);
        margin-right: 30px;
        padding-right: 30px;
        padding-left: 30px;
        

    }

    &__title{
        margin-bottom: 11px;
        @include mq(tablet){
            display: none;
        
        }
    }
    &__subtitle{      
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 25px;
        @include mq(tablet){
            margin-bottom: 37px;
        }
    }

    &__datatime{
        display: block;
    }

    &__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    }
}

.registration-footer {
    @include mq(tablet){
        padding: 20px 0;
    }
}

.form {

    @include mq(tablet){
        display: flex;
        align-items: center;
    }

    &__header{
        display: flex;
        flex-direction: column;
        @include mq(tablet){
            margin-right: 25px;
            text-align: start;
            max-width: 234px;
        }
        @include mq(desktop){
            margin-right: 38px;
        }
    }
    &__label{
        display: block;
        font-size: 16px;
        line-height: 1.25;
    }

    &__label-registration{
        margin-bottom: 15px;
        @include mq(desktop){
            margin-bottom: 13px;
        }
    }

    &__input{
        background-color: transparent;
        outline: transparent;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 3px;
        border-bottom: 1px solid var(--accent-text-color);
     


        &:focus:invalid{
            border: 1px solid var(--form-helper-color);
        }


        &::placeholder{
            color: var(--placeholder-text);
        }


    }   

    &__input-wrapper-lastchild{
        margin-bottom: 37px;

        @include mq(tablet){          
             margin-bottom: 0; 
        }
    }

    &__input-wrapper{
        position: relative;
        margin-bottom: 25px;

        @include mq(tablet){
            margin-bottom: 17px;
            
        }

        &:focus-within .form__input-helper{
            opacity: 1;
        }
    }

    

    &__input-helper{
        position: absolute;
        left: 0;
        top: 110%;
        opacity: 0;
        color: var(--form-helper-color);
        font-size: 12px;
        transition: opacity 250ms var(--animation);
        @include mq(tablet){
            top: 100%;
        }
    }
}