.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.reviews {
  position: relative;
}

.reviews {
  .container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;

    @include mq(tablet) {
      padding-bottom: 40px;
    }

    @include mq(desktop) {
      padding-bottom: 68px;
    }
  }
}

.reviews-title {
  @include mq(modile) {
    padding-top: 25.39px;
    margin-bottom: 0;
  }
  @include mq(tablet) {
    margin-bottom: 10px;
    padding-top: 31.39px;
  }
  @include mq(desktop) {
    font-size: 36px;
    line-height: 0.7;
    margin-bottom: 24px;
    padding-top: 68px;
  }
}

.slider {
  max-width: 626px;
  margin-right: auto;
  margin-left: auto;
}

.slider__items {
  opacity: 0.9;
  text-align: center;
  width: 234px;
  transform: scale(0.9);
  transition: all 250ms;
  @media screen and(max-width:767.98px) {
    opacity: 1;
  }
}

.slick-current {
  transform: scale(1);
}

.slider__pictures {
  display: flex;
  justify-content: center;
  text-align: center;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;

  & .reviews {
    display: none;
  }
  & img {
    width: 110px;
    height: 110px;
    @media screen and (min-width: 1279.98px) {
      width: 136px;
      height: 136px;
    }

    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 110px;

  @include mq(modile) {
    width: 116px;
  }

  @include mq(tablet) {
    width: 186px;
  }

  @include mq(desktop) {
    width: 234px;
  }

  @media screen and (max-width: 767.98) {
    max-width: 110px;
  }
}

.slick-center {
  transition: all 250ms;
  margin-top: 20px;

  opacity: 1;
  & img {
    @media screen and (min-width: 1279.98px) {
      width: 234px;
      height: 234px;
    }
    @media screen and (min-width: 767.98px) and (max-width: 1279.98px) {
      width: 186px;
      height: 186px;
    }

    transition: all 250ms;
  }
}

.slick-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider .slick-list {
  @media screen and (min-width: 1279.98px) {
    height: 326px;
  }
  @media screen and (min-width: 767.98px) and (max-width: 1279.98px) {
    height: 280px;
  }
}

.container-reviews__img {
  overflow: hidden;
  border-radius: 50%;
  max-width: 110px;
  margin-bottom: 6px;

  @include mq(tablet) {
    max-width: 186px;
  }
  @include mq(desktop) {
    max-width: 234px;
  }
}

.rating-result__icon--checked {
  fill: #ab816c;
}

.rating-result__icon--unchecked {
  fill: none;
  stroke: #ab816c;
  stroke-width: 1.6842;
}

.rating-result__reviews {
  margin-bottom: 12px;
}

.rating-result__list {
  display: flex;
  justify-content: center;
  max-height: 24px;
}

.rating-result__item:not(:last-child) {
  margin-right: 4px;
}

.reviews__name {
  display: block;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.64;
  text-align: center;
  color: #2e2520;

  @include mq(desktop) {
    font-size: 16px;
  }
}

.reviews__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 30px;

  @include mq(desktop) {
    font-size: 18px;
    line-height: 1.2;
  }
}

.reviews__number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #ab816c;
  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.reviews__number::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-right: 12px;
  vertical-align: middle;
  background-color: currentColor;
}

.reviews__number::after {
  content: '';
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-left: 12px;
  vertical-align: middle;
  background-color: currentColor;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-next:before {
  content: '→';
}

.slick-prev:before {
  content: '←';
}

.slick-prev:before {
  font-size: 20px;
  width: 35px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../images/reviews/forwardarrow-left.png);
  background-color: transparent;
  // filter: invert(1);
  opacity: 0.5;
}

.slick-next:before {
  font-size: 20px;
  width: 35px;
  line-height: 1;
  opacity: 0.75;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../images/reviews/forwardarrow-right.png);
  background-color: transparent;
  // filter: invert(1);
  opacity: 0.5;
}
